.footer{
    background-color:#02060c;
    color:white;
    padding:40px 0;
}

.footer-container{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.footer-logo h2{
    color:#fc8019;
}

.footer-logo p{
    color:#aaa;
    margin-top:10px;
}

.footer-section h3{
    margin-bottom:15px;
}

.footer-section ul{
    list-style:none;
    padding:0;
}

.footer-section ul li{
    margin-bottom:10px;
    color:#ccc;
    font-size:14px;
    cursor:pointer;
}

.footer-section ul li:hover{
    color:#fc8019;
}