/* *{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
} */

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  margin: 0;
  padding: 0;
  width: auto;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #111;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Logo */

.logo {
  width: 40px;
  height: 40px;
  background: #00ffff;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
}

/* Nav links */

.nav-links {
  display: flex;
  gap: 25px;
}

/* Links */

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  position: relative;
  transition: 0.3s;
}

/* Hover underline animation */

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #00ffff;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  color: #00ffff;
}

/* Responsive */

@media (max-width: 900px) {
  .navbar {
    flex-direction: column;
    gap: 20px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }
}
