.skill{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#0f2027;
color:white;
padding:60px 20px;
}

.skill-container{
max-width:1000px;
text-align:center;
}

.skill h1{
font-size:40px;
margin-bottom:40px;
color:#00ffff;
}

.skill-box{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

.skill-card{
background:#1a1a1a;
padding:25px 30px;
border-radius:10px;
width:220px;
transition:0.3s;
}

.skill-card:hover{
transform:translateY(-5px);
background:#222;
}

.skill-card h3{
color:#00ffff;
margin-bottom:10px;
}

.skill-card p{
font-size:15px;
line-height:1.6;
}